<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta charset=utf-8>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script type="text/javascript">
 <!--
  function isValid()
  {	
  	if(document.formupdtea.tno.value == "")
  	{	
  		  alert("工号为空！"); 
 		    document.formupdtea.elements[0].focus();
  		  return  false;
  	}
  	document.formupdtea.submit();
 }
  -->
  </script>		

  </head>
  
  <body bgcolor="#8dd8f8"><div align="center">
  <font color="#0000a0" face="华文楷体"><strong><font size="5">修改教师信息<br><br><br></font></strong></font></div>
  <form name="formupdtea" action="{{ url_for('admin_tea_upd')}}" method="post" onsubmit="return isValid(this);">
    <table class="table1" border="1" width="600" align="center" cellspacing="0" cellpadding="0">
    <tr><th colspan="2" height="25">请输入修改信息</th></tr>
    <tr><td height="20">教师的工号：</td><td><input type="text" name="tno"/> 
    <tr><td height="20"><input type="reset" value="重 置"/></td><td><input type="submit" value="提 交"/></td></tr>
    </table>
    </form>
  </body>
</html>
